button {
    padding: 16px;
    font-size: 24px;
    margin: 24px;
}

.grid-container {
    display: grid;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixel {
    border: solid black 1px;
    padding-bottom: 100%;
}

.coloured {
    background-color: black;
}

