button {
    padding: 16px;
    font-size: 24px;
    margin: 24px;
}

.grid-container {
    display: grid;
    width: 720px;
    height: 720px;
    border: 5px outset;
}

.game-container {
    padding: 48px;
    gap: 36px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-horizontal {
    display: flex;
}

.grid-cell {
    border: 1px solid lightgrey ;
}

.coloured {
    background-color: black;
    border: 1px solid black ;
}

